* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}


/* Header Part start*/

.header-main {
	background-color: #0e1317;
}

.header-mid {
	width: 90%;
	margin: auto;
	display: flex;
	padding: 20px 0px;
}

.header-left {
	width: 25%;
}

.header-right {
	width: 75%;
}

.header-right ul {
	display: table;
	float: right;
	padding: 22px 0px;
}

.header-right ul li {
	display: inline-block;
}

.header-right ul li a {
	color: white;
	font-size: 22px;
	padding: 0px 30px;
}

.header-right ul li a:hover {
	color: #c59d5f;
}
.nav_button{
	background-color: #c59d5f;
	padding: 20px 10px;
}
.nav_button a:hover{
color:black!important;
}

/* Header Part End */

/* Banner Part Start */

.banner-main {
	background-color: #141A1F;
	height:800px;
	background-image: url(../images/banner-bg-1.webp);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
	/* margin-bottom: 50px; */
}

.banner-mid {
	/* background-color: rgb(43, 41, 41); */
	width: 90%;
	margin: auto;
	display: flex;
	height:800px;
}

.banner-left {
	width: 50%;
	/* background-color: aqua; */
	display: flex;
	align-items: center;
}

.banner-right {
	width: 50%;
	overflow: hidden;
	position: relative;
	/* border-radius: 50%;
	border-left: 40px solid black; */
	
	/* background-color: blueviolet; */
}
.banner-right img{
	display: block;
	position: absolute;
	right: -100px;
	bottom: 0px;
	/* border-top-left-radius: 50%;
	border-bottom-left-radius:50%;
	border-left: 30px solid black; */
	
}

.banner-content {
	background-color: #141A1F;
	display: flex;
	flex-direction: column;
	gap: 25px;
	height: 80%;
}
.banner-content .tagline{

	background-color: #233143;
	color: hsl(36, 47%, 57%);
	width: 330px;
	height: 40px;
	display: flex;
	align-items: center;
	position: relative;
	gap: 10px;
	
;

}
.triangle_left{
	height: 0px;
	width:0px;
	border-top:20px solid transparent;
	border-right:10px solid transparent;
	border-left:50px solid #141A1F;
	border-bottom: 20px solid transparent;
	position: absolute;
	left: 0px;
	
}
.triangle_right{
	height: 0px;
	width:0px;
	border-top:20px solid transparent;
	border-right:10px solid transparent;
	border-left:50px solid #141A1F;
	border-bottom: 20px solid transparent;
	transform: rotate(180deg);
	position: absolute;
	right: 0px;
	

}
.banner-content .tagline_txt{
	font-size: 20px;
	font-weight: 100;
	width:80%;
	position: absolute;
	top:0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto;
	padding: 10px;
}
.banner-content .tagline_txt span {
	text-align: center;
	padding: 25px;
	
}
.banner-content h1{
	font-size: 100px;
	color: white;
}
.banner-content p{
	font-size: 17px;
	font-weight: 100;
	color: white;
}

.button{
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	
}
.button button{
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: hsl(36, 47%, 57%);
	border: 0px;

}

/* Banner Part End */

/* About Start */

.about-main {
	background-color: #39312A;
	height: 800px;
	margin-bottom: 200px;
}

.about-mid {
	width: 90%;
	/* background-color: aqua; */
	height: 800px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-left {
	/* background-color: yellow; */
	width: 50%;
	height: 60%;


}
.about-left img{
display: block;
margin:auto;

}
.about-right {
	/* background-color: red; */
	width: 50%;
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.one h6{
font-size: 25px;
font-weight: 200;
color: #c59d5f;
margin-bottom: 10px;
}
.one h1 {
	width: 60%;
	font-size: 45px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}
.one p{
	width: 60%;
	font-size: 15px;
	font-weight: 600;
	color: rgb(222, 213, 213);
	margin-bottom: 10px;
}


.two {
	/* background-color: aqua; */
	display: flex;
	gap: 20px;
}

.two-one {
	width: 300px;
	background-color: #0e1317;
	margin-bottom: 10px;
	color: white;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	width: 250px;
	gap: 20px;
}

.test {
	display: flex;
	color: white;
	align-items: center;
	gap: 20px;
}
.two-one p{
	color: rgb(213, 213, 221);
}
/* About End */

.three ul li{
	font-size: 18px;
	color: rgb(213, 213, 221);
	padding: 10px 10px;
}
.four button{
	background-color: #c59d5f			;
	color: white;
	font-size: 20px;
	padding: 10px;
	border: 0px;
}